<li>
	{{name}}

	<button class="btn change-burger" data-id="{{id}}" data-newburger="{{eaten}}">
		{{#if eaten}}Devour it!{{else}}Wait!{{/if}}
	</button>
		<button class="delete-burger" data-id="{{this.id}}">DELETE!</button>

</li>
