<li>
	{{name}}

	<button class="btns change-burger" data-id="{{id}}" data-newburger="{{eaten}}">
		{{#if eaten}}Devoured!{{else}}Try It!{{/if}}
	</button>
		<button class=" btns delete-burger" data-id="{{this.id}}">DELETE!</button>

</li>
